:root {
	--device-width: 400px;
	--content-width: 1000px;
}

header {
	width: 100%;
	background: #fff;
	height: 60px;
	margin: 0px;
	padding: 0px;
}
.title {
	font-size: 20px;
	padding-top: 13px;
	text-align: left;
	width: 100%;
	padding: 13px;
	font-weight: bold;
}
.navbar {
	margin: 0;
	padding: 0;
	width: 670px;
	text-align: center;
}
.navbar a {
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-weight: bold;
}
.navbar a:hover {
	border-radius: 2px 5px;
	background-color: #d9ff00;
}
.navbar li {
	display: inline;
}

.firstblock {
	margin-top: 0;
	padding: 25px 0 40px;
	color: rgb(255, 255, 255);

	background-position: center;
	background-image: url(/images/banner.png);
}

.content-center {
	/*display: flex;*/
	justify-content: center;
	align-items: center;
	/*width: var(--content-width);*/
	text-align: center;
}

.flex-column {
	flex-direction: column;
}

.btn {
	padding: 10px 17px;
	font-size: 18px;
	text-decoration: none;

	border-style: double;
	border-radius: 5px;
	border: 2px solid;
	background-color: inherit;
	color: cornsilk;
}

.firstBlock {
	text-align: center;
	width: 1500px;
	height: 30px;
	color: #fff;
	font-size: 50px;
	font-weight: 100px;
}
.firstBlock2 {
	text-align: center;
	width: 1500px;
	height: 30px;
	color: #fff;
	font-size: 20px;
	font-weight: 100px;
}
.firstBlock ul {
	display: inline-block;
}
.firstBlock li {
	float: right;
}
.firstBlock li + li {
	margin-left: 100px;
}

.flex {
	display: flex;
}

.flex-grow-1 {
	flex-grow: 1;
}

.flex-grow-2 {
	flex-grow: 2;
}

.w-500px {
	width: 500px !important;
}

.bg-white {
	background: #ffffff;
}

.items-flexibility {
	display: flex;
	width: 100%;
}

.flex-item {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: var(--min-height-block);
	width: var(--width-block);
	padding: 100px;
	box-sizing: border-box;

	color: rgb(0, 0, 0);
}

.advantages {
	text-align: center;
	width: 1000px;
}

.flex-horizontal-center {
	justify-content: center;
}

.img {
	object-fit: cover;
	width: 200px;
	height: 200px;
}

.imgblock {
	background-image: url("/images/banner.png");
}

/*.imgblock img {
	height: 600px;
	width: 1520px;
}

.imgblock span {
	color: #fff;
	position: absolute;
	right: 0;
	bottom: 150px;
	font-size: 10px;
	padding: 5px 5px;
}
*/
